# Ignore Terraform's working directory
.terraform/

# Ignore Terraform's provider directories and downloaded providers
.terraform/providers/
.terraform/providers/registry.terraform.io/

# Ignore all provider versions (e.g., HashiCorp AWS)
.terraform/providers/registry.terraform.io/hashicorp/aws/

# Ignore specific AWS provider version directories
.terraform/providers/registry.terraform.io/hashicorp/aws/5.82.2/

# Ignore downloaded Terraform binaries
terraform_*.zip
terraform_*/LICENSE.txt

# Ignore Terraform lock file
terraform.lock.hcl

# Ignore Terraform state files and backups
terraform.tfstate
terraform.tfstate.backup

# Ignore Terraform plan files
*.tfplan

# Ignore the Terraform binary file
terraform_1.10.3_windows_amd64/

# Ignore terraform state directory for versioning
terraform.tfstate.d/

# Ignore the .terraform lock file
.terraform.lock.hcl

# Ignore crash dumps (in case of any unexpected termination)
erl_crash.dump

# Ignore all files in subdirectories related to the provider
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.82.2/windows_amd64/
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.82.2/windows_amd64/terraform-provider-aws_v5.82.2_x5.exe